.App {
  text-align: center;
}


.up{
  background-color: green;
  size: 15px;
  margin: 35px;
  text-align: center;
  border-radius: 5px;
  border-width: 2px;
}

.down{
  background-color: green;
  size: 35px;
  margin: 15px;
  text-align: center;
  border-radius: 15px;
  border-width: 2px;
}

.zero{
  background-color: green;
  size: 35px;
  margin: 15px;
  text-align: center;
  border-radius: 5px;
  border-width: 2px;
}